<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Book and Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/list-shops}">Shops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
        </div>
    </div>
</nav>
<div class="container">
    <h1 th:text="${shop.name} + ' Book Inventory'"></h1>
    <table class="table table-bordered table-striped" id="bookTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Salary</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.name}" />
            <td th:text="${book.author}" />
            <td th:text="${book.genre}" />
            <td th:text="${book.salary}" />
        </tr>
        </tbody>
    </table>
    <h2>Add Existing Book</h2>
    <form th:action="@{/addExistingBookToShop}" method="post">
        <input type="hidden" name="shopId" th:value="${shop.id}">
        <div class="mb-3">
            <label for="book" class="form-label">Select Book:</label>
            <select id="book" name="bookId" class="form-select" required>
                <option th:each="book : ${allBooks}" th:value="${book.id}" th:text="${book.name + ' by ' + book.author}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Book</button>
    </form>

    <a th:href="@{/list-shops}" class="btn btn-secondary">Back to Shops</a>
</div>
</body>
</html>